<h2>Create a new drone</h2>
<div class="container d-flex justify-content-center"></div>

<form action="/drones/create" method="POST">
    <div class="mb-3">
        <label for="nam" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nam" name="name">
    </div>

    <div class="mb-3">
        <label for="prop" class="form-label">Propeller</label>
        <input type="text" class="form-control" id="prop" name="propellers">
    </div>

    <div class="mb-3">
        <label for="vel" class="form-label">Velocidad</label>
        <input type="text" class="form-control" id="vel" name="maxSpeed">
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Add Drone</button>
    </div>
</form>
</div>